
.booktreeplus .controls {
/*  margin-bottom: .5em; */
  margin: 0;
  margin-top: .5em;
  padding: 0;
}

.booktreeplus .controls li {
  display: inline;
  padding-right: .5em;
  padding-left: .5em;
}

.booktreeplus .folder {
  margin: 0;
  cursor: pointer;
}

.booktreeplus .pages ul {
  padding-left: 0;
}

.booktreeplus .pages li {
  background: url(images/txt.png) no-repeat left top;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.booktreeplus .pages li.folder,
.booktreeplus .pages a {
  padding-left: 20px;
}

.booktreeplus .pages li.folder > a {
  padding-left: 0px;
}

/* icons */

.booktreeplus li.folder {
  background-image: url(images/folder.png);
}

.booktreeplus li.expanded {
  background-image: url(images/folder_open.png);
}

.booktreeplus li.txt {
  background-image: url(images/txt.png);
}

div.booktreeplus {
  float: right;
  position: relative;
  font-size: 67%;
}

div.booktreeplus.left {
  float: left;
}

div.booktreeplus-navigation {
  border: 1px dashed gray;
  margin: 0 0.5em 0 0.5em;
}

.booktreeplus .title {
  position: relative;
  text-align: center;
  font-size: 110%;
  font-weight: bold;
}

img.booktreeplus-navigation.top {
  top: -32px;
  left: -32px;
}

div.booktreeplus.left img.booktreeplus-navigation {
  left: 0px;
}

img.booktreeplus-navigation {
  position: absolute;
}

img.booktreeplus-navigation.side.side {
  left: 0px;
}

div.booktreeplus.left img.booktreeplus-navigation.side {
  left: -32px;
}

div.booktreeplus img.booktreeplus-navigation.over {
  left: -32px;
}

div.booktreeplus.left img.booktreeplus-navigation.over {
  left: 0px;
}

div.booktreeplus img.booktreeplus-navigation.inline {
  position: static;
}

img.booktreeplus-close {
  position: absolute;
  top: -8px;
  right: -8px;
}

div.booktreeplus.left img.booktreeplus-close {
  left: -8px;
}
